.situation {
    position: absolute;
    width: 1200px;
    height: 900px;
    left: -75px;
    top: -150px;
}

.situation-left {
    position: absolute;
    width: 516px;
    height: 900px;
    left: 75px;
    top: 150px;

    background: #35A0EE;
}

.situation-progress {
    position: absolute;
    width: 226px;
    height: 180px;
    left: -50px;
    top: 246px;
}

.situation-now-future {
    position: absolute;
    width: 184px;
    height: 24px;
    left: 195px;
    top: 48px;
    
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}

.situation-preferences {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 195px;
    top: 124px;
    
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
    
    color: rgba(255, 255, 255, 0.5);
    
}

.situation-goals {
    position: absolute;
    width: 56px;
    height: 24px;
    left: 195px;
    top: 200px;
    
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
    
    color: rgba(255, 255, 255, 0.5);
}

.step1 {
    position: absolute;
    width: 98px;
    height: 24px;
    top: -100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #A4AEB4;

    opacity: 0.8;
}

.situation-title-set {
    position: absolute;
    width: 562px;
    height: 72px;
    left: 712px;
    top: 300px;
}

.situation-title {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: 0.02em;

    color: #0B1D2E;
}

.situation-question {
    position: absolute;
    width: 562px;
    height: 24px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #A4AEB4;

}

.situation-credit-title {
    position: absolute;
    left: -100px;
    top: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.02em;

    color: #A4AEB4;
}

.situation-savings-title {
    position: absolute;
    left: 100px;
    top: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.02em;

    color: #A4AEB4;
}

.situation-loan-title {
    position: absolute;
    left: 300px;
    top: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.02em;

    color: #A4AEB4;
}

.situation-to-home {
    position: absolute;
    left: -100px;
    top: 400px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #35A0EE;

}

.situation-next-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    position: absolute;
    left: 300px;
    top: 400px;

    background: #35A0EE;
    box-shadow: 0px 0px 20px rgba(53, 160, 238, 0.25);
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    cursor: pointer;
}

.situation.next-button:hover {
    transition: ease-out 1s;
    height: 50px;
    width: 160px;
}

.situation-skip-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    position: absolute;
    left: 100px;
    top: 400px;

    background: rgba(53, 160, 238, 0.1);
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #35A0EE;
    cursor: pointer;
}

.situation.skip-button:hover {
    transition: ease-out 1s;
    height: 50px;
    width: 160px;
}